<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Alexa Baz - LCSW</title>
    <%= stylesheet_link_tag "superfish", "styles" %>
    <%= javascript_include_tag  "jquery", "superfish" %>

    <link href="http://fonts.googleapis.com/css?family=Marcellus" rel="stylesheet" type="text/css"></link>
    <script>

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35191110-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <script>

      var WRInitTime=(new Date()).getTime();

    </script>
    <div id="header">
      <%= image_tag "room_with_windows_unedited.jpg", class: "header_image" %>
    </div>
    <div id="content" itemtype="http://schema.org/ProfessionalService" class="default-font jello-layout">
      <div id="inner_content">
        <div id="top_bar" class="jello-layout">
          <div class="float_right" id="nav">
            <ul class="sf-menu">
              <li>
                <div class="nav_link float_left">
                  <%= link_to 'Home', '/' %>
                </div>
              </li>
              <li>
                <div class="nav_link float_left">
                  <%= link_to 'Background', '/background.html' %>
                </div>
              </li>
              <li>
                <div class="nav_link float_left">
                  <a>Approach</a>
                  <ul>
                    <ul>
                      <li>
                        <%= link_to 'Children', '/children.html' %>
                      </li>
                      <li>
                        <%= link_to 'Adolescents', '/adolescents.html' %>
                      </li>
                      <li>
                        <%= link_to 'Adults', '/adults.html' %>
                      </li>
                    </ul>
                  </ul>
                </div>
              </li>
              <li>
                <div class="nav_link float_left" style="position: relative; top: -20px;">
                  &nbsp;
                  <%= link_to 'Contact', '/contact.html' %>
                </div>
              </li>
            </ul>
          </div>
          <div id="title" class="default-font">
            <div id="title_text" itemprop="name">
              Alexa Baz, LCSW
            </div>
          </div>
        </div>
        <%= yield %>
        <footer>
          <hr>
            <div class="float_right">
              <span itemprop="telephone">
                (646) 783-8514
                <br/>
                <a href="mailto:bazlcsw@gmail.com">bazlcsw@gmail.com</a>
              </span>
            </div>
            <div itemprop="address" itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">
                26 Court St, Suite 1707
              </span>
              <br/>
              <span itemprop="addressLocality">
                Brooklyn
              </span>,
              <span itemprop="addressRegion">
                NY
              </span>
              <span itemprop="postalCode">
                11201
              </span>
            </div>
          </hr>
        </footer>
      </div>
    </div>
    <script>

      // The ClickTale Balkan Tracking Code may be programmatically customized using hooks:
      //
      //   function ClickTalePreRecordingHook() { /* place your customized code here */  }
      //
      // For details about ClickTale hooks, please consult the wiki page http://wiki.clicktale.com/Article/Customizing_code_version_2
      document.write(unescape("%3Cscript%20src='"+
      (document.location.protocol=='https:'?
      "https://clicktalecdn.sslcs.cdngc.net/www07/ptc/a21cd835-0b73-4e40-b90c-04d3a53520b7.js":
      "http://cdn.clicktale.net/www07/ptc/a21cd835-0b73-4e40-b90c-04d3a53520b7.js")+"'%20type='text/javascript'%3E%3C/script%3E"));


      $(document).ready(function() {
          $("ul.sf-menu").superfish();
      });

    </script>
  </body>
</html>
