!!!
%html
  %head
    %title Alexa Baz - LCSW
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => 'http://fonts.googleapis.com/css?family=Marcellus', :rel => 'stylesheet',  :type => 'text/css'}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35191110-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #black_bar
      #title_container
        #title_float
          #title
            #title_text
              Alexa Baz, LCSW

    #content
      #nav_area
        .nav_link
          = link_to 'Contact', contact_path
        .nav_link
          = link_to 'Approach', approach_path
        .nav_link
          = link_to 'Background', background_path
        .nav_link
          = link_to 'Home', root_path
        #inner_content
          = yield
