!!!
%html
  %head
    %title Alexa Baz - LCSW
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => 'http://fonts.googleapis.com/css?family=Marcellus', :rel => 'stylesheet',  :type => 'text/css'}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35191110-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    :javascript
      var WRInitTime=(new Date()).getTime();
    #header
      = image_tag 'room_with_windows_unedited.jpg', :class => 'header_image'
    #content{:itemscope => '', :itemtype=>"http://schema.org/ProfessionalService"}
      #inner_content

        #top_bar    
          #nav.float_right
            %ul.sf-menu
              %li
                .nav_link.float_left
                  = link_to 'Home', root_path
              %li
                .nav_link.float_left
                  = link_to 'Background', background_path
              %li
                .nav_link.float_left
                  = link_to 'Approach', '#'
                  %ul
                    %ul
                      %li
                        = link_to 'Children', children_path
                      %li
                        = link_to 'Adolescents', adolescents_path
                      %li
                        = link_to 'Adults', adults_path
              %li
                .nav_link.float_left{style: 'position: relative; top: -20px;'}
                  &nbsp;
                  = link_to 'Fees & Map', contact_path

          #title
            #title_text{:itemprop => "name"}
              Alexa Baz, LCSW

        = yield
        %footer
          %hr
            .float_right
              %span{:itemprop => "telephone"}
                (646) 783-8514
                %br
                = mail_to 'bazlcsw@gmail.com'
            %div{:itemprop => "address", :itemscope => '', :itemtype => "http://schema.org/PostalAddress"}
              %span{:itemprop => "streetAddress"}
                26 Court St, Suite 1707
              %br/
              = succeed ',' do
                %span{:itemprop => "addressLocality"}
                  Brooklyn
              %span{:itemprop => "addressRegion"}
                NY
              %span{:itemprop => "postalCode"}
                11201
    :javascript
      // The ClickTale Balkan Tracking Code may be programmatically customized using hooks:
      // 
      //   function ClickTalePreRecordingHook() { /* place your customized code here */  }
      //
      // For details about ClickTale hooks, please consult the wiki page http://wiki.clicktale.com/Article/Customizing_code_version_2
      document.write(unescape("%3Cscript%20src='"+
      (document.location.protocol=='https:'?
      "https://clicktalecdn.sslcs.cdngc.net/www07/ptc/a21cd835-0b73-4e40-b90c-04d3a53520b7.js":
      "http://cdn.clicktale.net/www07/ptc/a21cd835-0b73-4e40-b90c-04d3a53520b7.js")+"'%20type='text/javascript'%3E%3C/script%3E"));
